* {
  font-family: 'Rubik', sans-serif;
}
body{
  background-color: rgb(225, 225, 225);
}
table{
  background-color: white;
}

.parent-container {
  max-width: 1400px;
  margin: auto;
}

th,
td {
  font-weight: 400;
  border: 1px solid rgb(182, 178, 178);
  writing-mode: vertical-rl;
  max-height: 10rem;
  width: 46px;
  font-size: 13px;
  text-align: end;
  padding: 5px;
  /* Set a fixed width for the th elements */
}



table:nth-of-type(1) th span {
  transform: rotate(180deg);
  display: inline-block;
  text-align: start;
}

/* -------------- */

table {
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 1400px;
}
  /* Add table-layout property */


.wide {
  width:100px;
}




td {
  max-height: 0rem;
  writing-mode: horizontal-tb;
  text-align: center;
}

img {
  max-width: 2rem;
}
td:nth-of-type(1) img {
    max-width: 2.5rem;
}{
  max-width: 2.5rem;
}

td.image-stars img {
  max-width: 4rem;
  margin-top: 2px;
}

table:nth-of-type(2) {
  margin-top: 10rem;
}



/* Mobile styles */
@media (max-width: 1200px) {
  .parent-container {

    overflow-x: scroll;
  }
}
